@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ";
@font-face {
    font-family: 'Catify';
    src: url('./font/lineto-circular-pro-book.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Catify;
    background-color: #282828;
}

header {
    background-color: #000000;
    display: flex;
    align-items: center;
}

body main {
    min-height: calc(100vh - 460px);
}

.nav-bar {
    display: flex;
    align-self: flex-end;
}

.nav-bar ul {
    align-items: center;
    justify-content: center;
}

.nav-bar li {
    margin: 0 15px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav-bar a {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #1ed760;
}

.nav-image img {
    width: 150px;
    margin: 20px;
}

.heading {
    text-align: center;
    margin: 20px 0 60px;
    color: white;
}

.heading h3 {
    margin-top: 10px;
    font-weight: normal;
}

.playlist-container {
    width: 1200px;
    margin: 0 auto 100px;
}

.playlist-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.playlist {
    width: 320px;
    height: 320px;
    text-align: center;
    margin: 20px 20px;
    color: white;
    list-style: none;
    box-shadow: 5px 5px 30px #020202;
    position: relative;
}

.current-playlist {
    text-decoration: none;
    color: white;
}

.playlist h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.playlist h4 {
    font-size: 20px;
    color: #eeeeee;
    font-weight: normal;
    margin-bottom: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.playBtn {
    color: #1ed760;
    text-decoration: none;
    font-size: 20px;
}

.playlist:hover .image {
    opacity: 0.05;
    cursor: pointer;
}

.playlist:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.playBtn:hover {
    color: #1fc960;
}

footer {
    background-color: #000000;
    color: white;
    padding: 30px;
    text-align: center;
    height:200px;
}

.footer-image {
    width: 150px;
}

.footer-items {
    display: flex;
    align-items: center;
    vertical-align: top;
    justify-content: center;
}

.footer-items i {
    color: #fff;
    border: 1px solid #222326;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    background-color: #222326;
}

.footer-items i:hover {
    color: #1ed760;
}

.footer-items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

.footer-items a:hover {
    color: #1ed760;
}

.links p {
    font-size: 12px;
    color: #919496;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer > p {
    color: #919496;
    margin-top: 40px;
}

.links li {
    list-style: none;
    margin-top: 20px;
}

.align-top {
    align-self: flex-start;
    margin-right: 70px;
}

.links {
    padding: 20px 50px ;
}

.icons {
    padding-left: 30px;
}

.icons a {
    margin-right: 10px;
}

.catify-form {
    width: 500px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.5);
    padding-bottom: 50px;
    position: relative;
}

.form-heading {
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0 0 0;
}

.catify-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2px;
    font-family: Catify;
    font-size: 15px;
}

.catify-form input:focus {
    outline-color: #FFFFFF;
}

.auth-forms {
    display: flex;
    justify-content: center;
}

.has-error {
    color: #ff0200;
    margin: 5px 0 20px 0;
}

.line {
    margin: 40px auto;
    border: 1px solid white;
    width: 90%;

}

.input-field {
    width: 324px;
    margin: 0 auto;
}

.catify-form .is-invalid {
    border: 1px solid #dc0200;;
}

.catify-form .is-invalid:focus {
    outline-color: #dc0200;
}

.catify-form .submitForm {
    color: #FFFFFF;
    background-color: #1ed760;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    padding: 8px;
    font-size: 13px;
    margin: 10px auto;
    width: 200px;
}

.catify-form .submitForm:focus {
    outline: none;
}

.catify-form .submitForm:hover {
    background-color: #1fe464;
    cursor: pointer;
}

.submit {
    text-align: center;
}

.catify-form .auth-register {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
}

.catify-form .auth-register a {
    text-decoration: none;
    color: #1ed760;
}

.catify-form .auth-register a:hover {
    color: #1fee63;
}

.download-container {
    background-color: #19e68c;
    height: 1050px;
    display: flex;
    justify-content: center;
}

.download-container h1 {
    color: #FFFFFF;
    font-size: 60px;
    margin-top: 300px;
    width: 500px;
    text-align: center;
}

.download-container img {
    height: 300px;
    margin-top: 300px;
}

.download-container p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.download-container a {
    text-decoration: none;
    color: #FFFFFF;
}

.download-container a:hover {
    color: #e7e7e7;
}

.active {
    color: #1ed760 !important;
}

.web-player {
    display: flex;
}

.side-nav {
    background: rgba(31,31,31,1);
    background: linear-gradient(to bottom, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#000000', GradientType=0 );
    height: calc(100 - 100px);
}

.side-nav ul {
    padding: 20px 60px 0 20px;
}

.side-nav li {
    list-style: none;
    margin-bottom: 20px;
    width: 180px;
}

.side-nav a {
    text-decoration: none;
    color: #cacaca;
    font-size: 18px;
    text-transform: capitalize;
}

.side-nav i {
    margin-right: 10px;
    font-size: 25px;
}

.side-nav a:hover {
    color: #FFFFFF;
}

.player-playlist {
    text-align: center;
    min-height: 1050px
}

.player-playlist h1{
    margin-top: 50px;
    font-size: 40px;
}

.content-container {
    font-family: Catify;
    width: 100%;
    background: rgba(51,51,51,1);
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000', GradientType=0 );
}

.side-nav nav {
    position: sticky;
    top: 0;
}

.content-container .playlist-container {
    width: 1500px;
}

.content-container .playlist {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.playlistBtn {
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 50%;
    border: 1px solid #919191;
}

.playlistBtn:hover {
    font-size: 45px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.playlist-info {
    margin: 10px 0;
    text-decoration: #FFFFFF;
    font-size: 1.1em;
}

.playlist-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content-container .heading {
    margin: 0;
    text-transform: capitalize;
}

.content-container .playlist-container ul{
    margin-top: 20px;
}

.search {
    background: rgba(31,31,31,1);
    background: linear-gradient(to bottom, rgba(31,31,31,1) 0%, rgba(26,26,26,1) 100%);
    padding: 40px;
    color: #FFFFFF;
    position: sticky;
}

.search label {
    display: block;
}

.search input {
    background: rgba(0,0,0,0);
    border: none;
    width: 50%;
    font-size: 3.2em;
    font-weight: bold;
    color: #1ed760;
    font-family: Catify;
}

.search input:focus {
    outline: none;
}

.grad-background {
    height: calc(100vh - 550px);
    padding-top: 200px;
    background: rgba(44,96,133,1);
    background: linear-gradient(to bottom, rgba(44,96,133,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c6085', endColorstr='#000000', GradientType=0 );
}

.nav-bar .divider {
    color: #FFFFFF;
    margin: 0;
}

.separator {
    border: 1px solid white;
    border-radius: 5px;
}

.grad-background-profile {
    height: calc(100vh - 500px);
    padding-top: 150px;
    background: linear-gradient(to bottom, rgba(34,59,97,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223b61', endColorstr='#000000', GradientType=0 );
}

.profile-info {
    color: #919496;
    font-size: 1.1em;
    align-self: center;
    margin-bottom: 15px;
}

.grad-background-profile .form-heading {
    color: #1ed760;
    font-size: 1.5em;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-info > span {
    display: block;
    color: #FFFFFF;
}

.grad-background-create-playlist {
    height: calc(100vh - 500px);
    padding-top: 150px;
    background: rgba(8,109,42,1);
    background: linear-gradient(to bottom, rgba(8,109,42,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#086d2a', endColorstr='#000000', GradientType=0 );
}

.grad-background-create-playlist .form-heading {
    color: #FFFFFF;
    font-size: 1.5em;
}

.audio-info {
    color: #FFFFFF;
    margin-top: 3px;
}

.audio-info a {
    text-decoration: none;
    color: #ff8e00;
}

label.audio-info {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.edit-playlist i {
    font-size: 1.5em;
    margin: 0 5px;
}

.edit-playlist a {
    text-decoration: none;
    color: #FFFFFF;
}

.edit-playlist a:hover {
    color: #1ed760;
}

#submitAdd {
    all: unset;
    position: absolute;
    right: 5px;
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #1ed760;
    border-radius: 50%;
    cursor: pointer;
}

.add-container {
    margin-top: 20px;
}

.add-container .form-heading {
    font-size: 1.5em;
    padding: 0;
    margin-top: 15px;
}
.add-container .line {
    margin: 20px;
}

.add-container .catify-form {
    padding-bottom: 10px;
}
