<div class="chat-box">
  <div class="chat-header">
    <p>{{username}}</p>
    <button (click)="onClose()" type="button" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="messages">
    <perfect-scrollbar style="max-height: 170px;" [config]="config">
      <div class="chat-line" *ngFor="let m of chat">
        <a routerLink="">{{m.sender}}</a>
        <span>: </span>
        <span>{{m.content}}</span>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="chat-container">
    <form [formGroup]="messageForm" class="chat-message" (submit)="sendMessage()">
      <input type="text" placeholder="Send a message" formControlName="message">
    </form>
  </div>
</div>
