<article class="chirp">
    <div class="titlebar">
        <a href="#/me" class="chirp-author">{{author}}</a>
        <span class="chirp-time">{{time}}</span>
        <a href="#/delete/:{{_id}}">Delete</a>
    </div>
    <p>{{text}}</p>
</article>